# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# Editor / IDE
.vscode/
.idea/

# 工具的匯出結果(視需要自行增減)
*_uncommitted/
output/
